.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.mar{
  margin: 30px; 
}
.cardd {
  background-color: rgba(160, 255, 126, 0.824); /* shade of blue with 50% transparency */
  border-radius: 10px; /* this will give the border a round shape */
    margin: 30px; /* this will add space on top, bottom, left and right of the card */
    /* margin-left: 30px; */
    padding: 20px; /* this will add space between the border and the content of the card */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
